/* You can add global styles to this file, and also import other style files */


html, body {
    width: 100%;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    overflow: auto;
    background-color:white;
    /* background: linear-gradient(132deg, #FC415A, #591BC5, #212335); */
    background-image: url("src/assets/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-size: 400% 400%; */
    /* animation: Gradient 15s ease infinite; */
    /* position: relative;
    height: 100;
    width: 100%; */
    /* overflow: hidden;   */
  
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-menu li {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}

.dropdown-menu li a {
    text-align: center;
    color: #46525b !important;
    font-size: 14px !important;
    width: 100%;
    float: left;
    padding: 10px 0;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background: #ffffff;
    text-decoration: none;
}

.drop-header {
    background: #dddddd;
    display: inline-block;
    padding: 20px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    margin-top: -10px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.nav-logo {
    display: block;
}

.nav-logo img {
    width: 90%;
}


.header-icons-group {
    display: flex;
    order: 3;
    margin-left: auto;
    height: 100%;
}

.header-icons-group .c-header-icon:last-child {
    border-right: 0;
    /* width: 200px; */
    width: 355px;
}

.c-header-icon {
    position: relative;
    display: flex;
    float: left;
    width: 150px;
    height: 100%;
    align-items: center;
    justify-content: center;
    line-height: 1;
    cursor: pointer;
}

.c-header-icon i {
    font-size: 46px;
    line-height: 40px;
    color: #4d4d4d;
}

.c-header-icon span i {
    color: #afafaf;
}

.c-header-icon--in-circle {
    border: 1px solid #d0d0d0;
    border-radius: 100%;
}


.pull-right {
    float: right;
}

.pull-left {
    float: left;
}






